@import '../../styles/global';

.icon_left {
    color: $font_placeholder;
    padding-right: 10px;
}

.icon_right {
    color: $font_placeholder;
    padding-left: 10px;
}

.tab_bar_box {
    height: 90%;
}

.tab_bar_label {
    font-family: 'Ruda';
    text-transform: capitalize;
}

.tab_bar_item {
    width: 130px;
}

.tab_bar_indicator {
    background-color: $primary_color;
}

.list_container {
    background-color: $white;
    flex: 1;
}

.button_box {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0% 25%;
}

.inner_button_box {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.icon_plus {
    color: $white;
    padding-right: 5px;
}

.expense_text {
    font-size: 20px;
    font-family: 'Ruda';
    color: $white;
    padding-left: 5px;
}