@import '../../styles/global';

.button_box {
    background-color: $primary_color;
    border-radius: 35px;
    padding: 17px 20px;
    align-items: center;
}

.button_box:active {
    opacity: 0.3;
}

.button_text {
    font-size: 22px;
    font-family: 'Ruda';
    color: $white;
}