$primary_color: #F4776B;
$secondary_color: #60C0F5;

$white: #fff;

$font_placeholder: rgba($color: #000000, $alpha: 0.2);
$font_black: rgba($color: #000000, $alpha: 0.71);

$red_error: rgba($color: #E42222, $alpha: 0.87);
$green_success: rgba($color: #2BE7BA, $alpha: 0.98);