@import '../../styles/global';

.input_box {
    flex-direction: row;
    padding-right: 20px;
    align-items: center;
}

.left_box {
    width: 15%;
    align-items: center;
    justify-content: center;
}

.right_box {
    width: 85%;
    flex-direction: row;
    border-bottom-width: 1.5px;
    border-bottom-color: rgba(0,0,0,0.1);
    align-items: center;
    justify-content: space-between;
    padding: 7px 3px;
}

.text_input {
    font-family: 'Ruda';
    font-size: 16px;
    color: $font_black;
    width: 70%;
}



